.addListing {
    margin: 0 22px;
    padding: 0 20px;
}

.below {
    border-top: 1px solid;
    border-top-color: rgba(0, 0, 0, 0.12);
    margin: 19px auto 16px;
    width: 98%;
}

.city {
    color: #ccc;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, .95);
}

.cost {
    font-size: 28px;
}

.cost,
.size {
    display: inline;
    font-size: 14px;
}

.home {
    background-position: 50% 50%;
    background-size: cover;
    border-style: solid;
    color: #fff;
    flex-grow: 1;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    min-height: 32vh;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    width: 20%;
}

.info {
    background-image: linear-gradient(tobottom, rgba(0, 0, 0, 0.48) 0 rgba(255, 255, 255, 0) 100%);
    display: inline;
    flex: 1 1 0;
    padding: 10px;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    height: 65vh;
    margin: 0 auto;
    overflow-y: auto;
    width: 95%;
}

.md-radio-button::focused {
    outline: none;
}

.modalURL {
    width: 100%;
}

.modalURLcontainer {
    width: 50%;
}